/* Common styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Login page styles */
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form .input-group {
    margin-bottom: 20px;
  }
  
  .login-form .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  /* Registration form styles */
  .registration-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .registration-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .registration-form .input-group {
    margin-bottom: 20px;
    border: 1px;
    border-color: black;
  }
  
  .registration-form .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .registration-form .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .registration-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registration-form button:hover {
    background-color: #0056b3;
  }
  
  /* Profile page styles */
  .profile-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .profile-container h1 {
    text-align: center;
  }
  
  .profile-details {
    margin-top: 20px;
  }
  
  .profile-details p {
    margin-bottom: 10px;
  }
  
  .profile-details p span {
    font-weight: bold;
  }
  
  .profile-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .profile-button:hover {
    background-color: #0056b3;
  }